@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #F8FAFC;
    color: #333;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo img{

  width:135px;

  height:64px;

  object-fit:cover;

  transition:0.4s;
}

/* HOVER */
.logo img:hover{

  transform:scale(1.05);
}

/* ===== Top Header ===== */

/* ===== Announcement Bar ===== */

.announcement-bar{
    background:#0B1F3A;
    color:white;
    height:55px;

    display:flex;
    align-items:center;
}

.announcement-left{
    padding:0 20px;
    font-weight:600;
    color:#00B4D8;
}

.announcement-left i{
    margin-right:8px;
}

.announcement-bar marquee{
    flex:1;
}

.internet-btn{
    background:#0077B6;
    color:white;
    padding:10px 20px;
    margin-right:15px;
    border-radius:8px;
    transition:.3s;
}

.internet-btn:hover{
    background:#00B4D8;
}

/* ===== Navbar ===== */

header{
    background:
    linear-gradient(rgba(209,177,177,0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");

    box-shadow:0 2px 10px rgba(0,0,0,0.08);

    position:sticky;
    top:0;
    z-index:9999;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 0;
}
.logo h2{
    color: #0B1F3A;
    font-size: 30px;
    font-weight: 700;
}
nav{
    margin-left:auto;
}

nav ul{
    display:flex;
    gap:30px;
}

nav ul li a{
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #0077B6;
}

.nav-btn{
    margin-left:30px;
}

.login-btn{
    background: linear-gradient(135deg,#0077B6,#00B4D8);
    color: #fff;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    transition: .4s;
}

.login-btn i{
    margin-right: 8px;
}

.login-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,119,182,.3);
}

/* ===== Hero Section ===== */

/* ===== Hero Section ===== */

.hero{
    min-height: 90vh;
    background:
    linear-gradient(rgba(11,31,58,0.75), rgba(11,31,58,0.75)),
    url("Assest/bank1.webp");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
}

.hero-container{
    display: flex;
    align-items: center;
}

.hero-content{
    max-width: 650px;
    animation: fadeUp 1.2s ease;
}

.hero-content h1{
    font-size: 65px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-content p{
    color: rgba(255,255,255,0.9);
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.hero-buttons{
    display: flex;
    gap: 20px;
}

.btn-primary{
    background: #0077B6;
    color: #fff;
    padding: 14px 30px;
    border-radius: 8px;
    font-weight: 500;
    transition: .4s;
}

.btn-primary:hover{
    transform: translateY(-5px);
}

.btn-secondary{
    border: 2px solid #0077B6;
    color: #0077B6;
    padding: 14px 30px;
    border-radius: 8px;
    font-weight: 500;
}

.btn-secondary:hover{
    background: #0077B6;
    color: #fff;
}

.hero-image{
    flex: 1;
}

/* ===== Section Title ===== */

.section-title{
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 52px;
    font-weight: 700;
    color: #0B1F3A;
}

.section-title p{
    font-size: 18px;
    color: #666;
}

/* .section-title h2{
    font-size: 40px;
    color: #0B1F3A;
    margin-bottom: 15px;
}

.section-title p{
    color: #666;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
} */

/* ===== Services ===== */

.services{
    position: relative;
    padding: 120px 0;

    background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");

    background-size: cover;
    background-position: center;
}

.service-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}

.service-card{
    background: #fff;
    padding: 45px 35px;
    border-radius: 25px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.service-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,#0077B6,#00B4D8);
    transition: .5s;
}

.service-card:hover::before{
    left: 0;
}

.service-card:hover{
    transform: translateY(-15px);
    box-shadow: 0 20px 45px rgba(0,119,182,.18);
}

.service-card i{
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 35px;
    color: #0077B6;
    background: rgba(0,119,182,.1);
    border-radius: 50%;
    margin-bottom: 25px;
    transition: .4s;
}

.service-card:hover i{
    background: #0077B6;
    color: #fff;
    transform: rotateY(360deg);
}

.service-card h3{
    font-size: 26px;
    color: #0B1F3A;
    margin-bottom: 18px;
}

.service-card p{
    color: #666;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* ===== Why Choose Us ===== */

.why-us{
    padding: 100px 0;
    /* background: #F8FAFC; */
    background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");
}

.why-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}

.why-card{
    background: #fff;
    padding: 35px 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.why-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,119,182,0.2);
}

.why-card i{
    font-size: 45px;
    color: #0077B6;
    margin-bottom: 20px;
}

.why-card h3{
    color: #0B1F3A;
    margin-bottom: 15px;
}

.why-card p{
    color: #666;
    line-height: 1.8;
}

/* ===== Digital Banking ===== */

.digital-banking{
    padding: 100px 0;
    /* background: #ffffff; */
    background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");
}

.digital-container{
    display: flex;
    align-items: center;
    gap: 60px;
}

.digital-image{
    flex: 1;
}

.digital-content{
    flex: 1;
}

.sub-title{
    color: #0077B6;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}

.digital-content h2{
    font-size: 40px;
    color: #0B1F3A;
    margin-bottom: 20px;
    line-height: 1.4;
}

.digital-content p{
    color: #666;
    line-height: 1.9;
    margin-bottom: 30px;
}

.digital-features{
    margin-bottom: 30px;
}

.feature-item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.feature-item i{
    color: #0077B6;
    font-size: 20px;
}

/* ===== Loan Section ===== */

.loan-section{
    padding: 100px 0;
    background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");
}

.loan-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}

.loan-card{
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.loan-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,119,182,0.2);
}

.loan-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.loan-content{
    padding: 25px;
}

.loan-content h3{
    color: #0B1F3A;
    margin-bottom: 15px;
}

.loan-content p{
    color: #666;
    line-height: 1.8;
    margin-bottom: 20px;
}

.loan-content a{
    color: #0077B6;
    font-weight: 600;
}
/* ===== Statistics Section ===== */

.stats-section{
    padding: 90px 0;
    background: #0B1F3A;
}

.stats-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.stat-card{
    text-align: center;
    color: #fff;
}

.stat-card h2{
    font-size: 50px;
    margin-bottom: 15px;
    color: #00B4D8;
}

.stat-card p{
    font-size: 18px;
}
/* ===== Testimonials ===== */

.testimonials{
    padding: 100px 0;
    background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.testimonial-card{
    background: #F8FAFC;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.stars{
    color: #FFC107;
    margin-bottom: 20px;
}

.testimonial-card p{
    color: #666;
    line-height: 1.8;
    margin-bottom: 25px;
}

.testimonial-card h4{
    color: #0B1F3A;
    margin-bottom: 5px;
}

.testimonial-card span{
    color: #888;
    font-size: 14px;
}

.testimonial-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,119,182,0.2);
}
/* ===== FAQ Section ===== */

.faq-section{
    padding: 100px 0;

    background:
    linear-gradient(rgba(209,177,177,.92),
    rgba(255,255,255,.92)),
    url("Assest/bank8.webp");

    background-size: cover;
}

.faq-container{
    max-width: 950px;
    margin: auto;

    max-height: 650px;   /* Fixed height */
    overflow-y: auto;    /* Vertical scroll */

    padding-right: 10px;
}

.faq-item{
    background: rgba(255,255,255,.95);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 15px;

    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    transition: .3s;
}

.faq-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,119,182,.2);
}

.faq-item h3{
    color: #0B1F3A;
    margin-bottom: 15px;
}

.faq-item p{
    color: #666;
    line-height: 1.8;
}
/* ===== Footer ===== */

.footer{
    background: #0B1F3A;
    color: #fff;
    padding-top: 80px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer-column h2,
.footer-column h3{
    margin-bottom: 20px;
}

.footer-column p{
    color: #dcdcdc;
    line-height: 1.8;
}

.footer-column ul li{
    margin-bottom: 15px;
}

.footer-column ul li a{
    color: #dcdcdc;
    transition: 0.3s;
}

.footer-column ul li a:hover{
    color: #00B4D8;
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.1);
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
}

.social-icons a:hover{
    background: #00B4D8;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 50px;
    padding: 25px 0;
}



@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.digital-image img{
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }
}

.service-btn{
    color: #0077B6;
    font-weight: 600;
    transition: .3s;
}

.service-btn:hover{
    color: #0B1F3A;
}

.service-btn i{
    background: none !important;
    width: auto;
    height: auto;
    font-size: 14px;
    margin-left: 8px;
}

.faq-container::-webkit-scrollbar{
    width: 8px;
}

.faq-container::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 20px;
}

.faq-container::-webkit-scrollbar-thumb{
    background: #0077B6;
    border-radius: 20px;
}

.about-hero{
    height:450px;
    background:
    linear-gradient(rgba(11,31,58,.75),rgba(11,31,58,.75)),
    url("Assest/bank1.webp");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.about-hero h1{
    font-size:70px;
    color:#fff;
    margin-bottom:20px;
}

.about-hero p{
    color:white;
    font-size:22px;
}


.about-bank{
    padding:100px 0;
    background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");
}

.about-bank-container{
    display:flex;
    gap:70px;
    align-items:center;
}

.about-image{
    flex:1;
}

.about-image img{
    border-radius:20px;
}

.about-content{
    flex:1;
}

.about-content span{
    color:#0077B6;
    font-weight:600;
}

.about-content h2{
    font-size:50px;
    color:#0B1F3A;
    margin:20px 0;
}

.about-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:25px;
}

.about-features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.about-features i{
    color:#00B4D8;
}


.mission-section{
    padding:100px 0;
   background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");
}

.mission-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.mission-card{
    background:white;
    padding:40px;
    text-align:center;
    border-radius:20px;
}

.mission-card i{
    font-size:50px;
    color:#0077B6;
    margin-bottom:20px;
}


.about-cta{
    
    background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");
    text-align:center;
    padding:100px 0;
}

.about-cta h2{
    font-size:50px;
    margin-bottom:20px;
}

.about-cta p{
    margin-bottom:30px;
}


/* SECOND ABOUT SECTION */

/* SECOND ABOUT SECTION */

.about-services{
    padding: 100px 0;

    background:
    linear-gradient(rgba(209, 177, 177, 0.92),
    rgba(255,255,255,0.92)),
    url("Assest/bank8.webp");

    background-size: cover;
    background-position: center;
}

.about-services-container{
    display: flex;
    align-items: center;
    gap: 70px;
}

.about-services-content{
    flex: 1;
}

.about-services-content h2{
    font-size: 50px;
    color: #0B1F3A;
    margin: 20px 0;
    line-height: 1.2;
}

.about-services-content p{
    color: #555;
    line-height: 1.9;
    margin-bottom: 25px;
}

.about-services-image{
    flex: 1;
}

.about-services-image img{
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

css
/* CONTACT */

/* CONTACT SECTION */
.contact-section{
    padding:100px 0;

    background:
    linear-gradient(
        rgba(209,177,177,0.92),
        rgba(255,255,255,0.92)
    ),
    url("Assest/bank8.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container{
    display:flex;
    gap:40px;
    align-items:flex-start;
   
}

.contact-left{
    flex:1;
    
}


.contact-card{
    background:
    linear-gradient(
        rgba(209,177,177,0.92),
        rgba(255,255,255,0.92)
    ),
    url("Assest/bank8.webp");
    padding:35px;
    border-radius:20px;
    margin-bottom:30px;

    display:flex;
    align-items:center;
    gap:25px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.contact-card h3{
    color:#0B1F3A;
    margin-bottom:10px;
}

.contact-card p{
    color:#666;
}

.contact-icon{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#0077B6;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:28px;
}

/* RIGHT FORM */
.contact-form{
    flex:1;

    background:
    linear-gradient(
        rgba(209,177,177,0.92),
        rgba(255,255,255,0.92)
    ),
    url("Assest/bank8.webp");
    padding:40px;
    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.contact-form h2{
    color:#0B1F3A;
    margin-bottom:30px;
}

.contact-form input,
.contact-form textarea{
    
    width:100%;
    padding:18px;
    margin-bottom:20px;

    border:1px solid #ddd;
    border-radius:10px;

    outline:none;
    font-family:'Poppins',sans-serif;
}

.contact-form textarea{
    height:180px;
    resize:none;
}

.contact-form button{
    width:100%;
    border:none;
    cursor:pointer;
}

/* MAP SECTION */
.contact-map{
    padding:100px 0;

    background:
    linear-gradient(
        rgba(209,177,177,0.92),
        rgba(255,255,255,0.92)
    ),
    url("Assest/bank8.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-map h2{
    text-align:center;
    margin-bottom:40px;
    color:#0B1F3A;
}


.menu-toggle{
display:none;
font-size:28px;
cursor:pointer;
color:#0B1F3A;
}

/* TABLET */
@media(max-width:992px){


.service-grid,
.loan-grid,
.why-grid,
.stats-grid,
.testimonial-grid,
.footer-grid{
    grid-template-columns:repeat(2,1fr);
}

.digital-container,
.about-bank-container,
.about-services-container,
.contact-container{
    flex-direction:column;
}

.hero-content h1{
    font-size:50px;
}


}

/* MOBILE */
@media(max-width:768px){

/* Announcement */
.announcement-left{
    display:none;
}

/* Navbar */
header{
    position:sticky;
}

.navbar{
    padding:15px 0;
}

.menu-toggle{
    display:block;
    font-size:32px;
    color:#0B1F3A;
    cursor:pointer;
    z-index:10001;
}
nav{
    position:fixed;
    top:0;
    left:-100%;
    width:100%;
    height:100vh;
    background:#020225;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:0.4s;
    z-index:9999;

    overflow:hidden; /* remove scroll */
}

nav.show-menu{
    left:0;
}

nav ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
}

nav ul li a{
    color:white;
    font-size:24px;
    font-weight:600;
}

nav.show-menu{
    left:0;
}


.nav-btn{
    display:none;
}

nav.show-menu + .nav-btn{
    display:block;
    position:fixed;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
    width:80%;
    z-index:10001;
}

.login-btn{
    display:block;
    width:220px;          /* button width */
    margin:0 auto;        /* center horizontally */
    text-align:center;

    padding:18px;

    background:linear-gradient(135deg,#0077B6,#00B4D8);

    border-radius:40px;
    color:white;
}
/* Hero */
.hero{
    min-height:auto;
    padding:100px 0;
}

.hero-content h1{
    font-size:36px;
}

.hero-content p{
    font-size:16px;
}

.hero-buttons{
    flex-direction:column;
}

/* Grids */
.service-grid,
.loan-grid,
.why-grid,
.stats-grid,
.testimonial-grid,
.footer-grid,
.mission-grid,
.about-features{
    grid-template-columns:1fr;
}

/* Section Titles */
.section-title h2{
    font-size:34px;
}

/* Content */
.digital-content h2,
.about-content h2,
.about-services-content h2,
.about-cta h2{
    font-size:32px;
}

.about-hero h1{
    font-size:40px;
}

/* FAQ */
.faq-container{
    max-height:none;
    overflow:visible;
}

/* Contact */
.contact-form{
    padding:25px;
}

.contact-card{
    flex-direction:column;
    text-align:center;
}

/* Flex Sections */
.digital-container,
.about-bank-container,
.about-services-container,
.contact-container{
    flex-direction:column;
}

}
